# Airflow
airflow/logs/*
!airflow/logs/.gitkeep

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment
.env

# dbt
dbt/weather_dwh/target/
dbt/weather_dwh/dbt_packages/
dbt/weather_dwh/logs/

# IDE
.idea/
.vscode/

# OS
.DS_Store
